@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }
</style>

<script>
    window.onload = function () {
        checkToShowSpecial();
    };

    function checkToShowSpecial() {
        if (document.getElementById("function_select").value == "broadcast_poster") {
            document.getElementById("file_header").style.display = "";
            document.getElementById("file_upload_body").style.display = "";
            document.getElementById("file_archive_body").style.display = "none";
        }
        else if (document.getElementById("function_select").value == "broadcast_archive") {
            document.getElementById("file_header").style.display = "";
            document.getElementById("file_archive_body").style.display = "";
            document.getElementById("file_upload_body").style.display = "none";
        }
        else {
            document.getElementById("file_header").style.display = "none";
            document.getElementById("file_upload_body").style.display = "none";
            document.getElementById("file_archive_body").style.display = "none";
        }
    };
</script>
    <h1 style="text-align:center">Volar Video Client CMS Request -- C# and asp.net</h1>
    <form id="request_form" action="/request">
        <table style="width:200px;margin-right:auto;margin-left:auto">
            <tr>
                <th>
                    Request Type:
                </th>
                <th>
                    Params:
                </th>
                <th id="file_header" style="display:none">
                    File:
                </th>
            </tr>
            <tr>
                <td>
                    <select id="function_select" name="request_type" onchange="checkToShowSpecial()">
                        <option value="sites">sites</option>
                        <option value="broadcasts">broadcasts</option>
                        <option value="broadcast_create">create broadcast</option>
                        <option value="broadcast_update">update broadcast</option>
                        <option value="broadcast_delete">delete broadcast</option>
                        <option value="broadcast_assign_playlist">assign broadcast playlist</option>
                        <option value="broadcast_remove_playlist">remove broadcast playlist</option>
                        <option value="broadcast_poster">broadcast poster</option>
                        <option value="broadcast_archive">archive broadcast</option>
                        <option value="templates">templates</option>
                        <option value="template_create">create template</option>
                        <option value="template_update">update template</option>
                        <option value="template_delete">delete template</option>
                        <option value="sections">sections</option>
                        <option value="playlists">playlists</option>
                        <option value="playlist_create">create playlist</option>
                        <option value="playlist_update">update playlist</option>
                        <option value="playlist_delete">delete playlist</option>
                    </select>
                </td>
                <td>
                    <textarea name="params" rows="4" cols="40" placeholder='Enter request parameters as a valid JSON string. For example: {"site": "volar"}'></textarea>
                </td>
                <td id="file_upload_body" style="display:none">
                    File name: <input type="text" size="50" name="upload_name">
                    File path: <input type="text" size="50" name="file_path">
                </td>
                <td id="file_archive_body" style="display:none">
                    File name: <input type="text" size="50" name="archive_name">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit" style="display:block;margin-right:auto;margin-left:auto">
    </form>
}
